<a href="https://colab.research.google.com/github/victorcasi/data_science_1/blob/main/text_nos_struct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

STRINGS

bbts:

-string
-re
-nltk
-gensim
-spacy

In [ ]:
my_str1 = 'Text 1'
my_str2 ="Text 2"
my_str3 = '''A 
huge
text'''

In [ ]:
my_str1
print(my_str3)
type(my_str1)

In [ ]:
import sys
sys.getsizeof(my_str2)

55

String = char list

In [ ]:
my_str2[2]

'x'

In [ ]:
my_str1[3:]

't 1'

In [ ]:
list(my_str1)

['T', 'e', 'x', 't', ' ', '1']

A string is imutable. In order to do that, a method is necessary

CHANGING CAPITALIZATION

In [ ]:
#UP_CASE
my_str = ' This is a string test '
my_str.upper()

' THIS IS A STRING TEST '

In [ ]:
#LOW_CASE
my_str.lower()

'this is a string test'

In [ ]:
#1ST_OFALL_ONLY
my_str.capitalize()

'This is a string test'

In [ ]:
#ALL_1ST
my_str.title()

'This Is A String Test'

SUBSTRINGS

In [ ]:
#COUNT_LETTER
my_str.count('a')

1

In [ ]:
#FIND_LETTER
my_str.find('a')

8

In [ ]:
#SPLIT_LETTER
my_str.split('a')

['This is ', ' string test']

In [ ]:
#NONA_LETTER
my_str.strip()

'This is a string test'

In [ ]:
#VERIFY
my_str.startswith('Es') & my_str.endswith(' ')

False

In [ ]:
#REPLACE
my_str.replace('test','TEST')

' This is a string TEST '

In [ ]:
#UNIQUE
'-'.join(['This','is','a','string','test'])

'This-is-a-string-test'

In [ ]:
#VALIDATE_ALPHANUMERIC
my_str.isalnum()
my_str.isalpha()
my_str.isnumeric()

False

EXEMPLE: Get "Abc!!A,gpwqd qweun.!awipud$6wn" without points and numbers

In [ ]:
text = "Abc!!A,gpwqd qweun.!awipud$6wn" 
text_list = [ ]
for char in text:
    if char.isalpha():
      text_list.append(char)
    else:
      if text [-1 ] != ' ':
        text_list.append(' ')
text = ''.join(text_list)
text

'Abc  A gpwqd qweun  awipud  wn'

In [ ]:
text = "Abc!!A,gpwqd qweun.!awipud$6wn" 
' '.join(''.join([s if s.isalpha() else ' ' for s in text]).split())

'Abc A gpwqd qweun awipud wn'

REGEX
"identifying a phone number between letters"

In [ ]:
import re

In [ ]:
mystr = 'I told him that my number is (11) 91234-5678. I told him 99999999 times'

In [ ]:
re.findall(pattern ='\(\d{2}\)\s+\d{5}-\d{4}', string = mystr)
#\d is a number {2} repetitions \s blank
#https://regexone.com

['(11) 91234-5678']

TEXTS PADRONIZATION

-MIN/MAX: upper and lower

-SPECIAL CARACTER

-TOKEN

-STOPWORDS

-STEMMING/LEMMATIZATION

-N-GRAMS

In [ ]:
#SPECIAL_CARACTER
from unidecode import unidecode
unidecode("Data Science operation!@")

TOKEN (natural language token): broker

In [ ]:
mystr = 'I am a Data Scientist! I work at Google'

In [ ]:
mystr.split()
from nltk.tokenize import TreebankWordTokenizer
twt = TreebankWordTokenizer()
twt.tokenize(mystr)

['I', 'am', 'a', 'Data', 'Scientist', '!', 'I', 'work', 'at', 'Google']

In [ ]:
from nltk.tokenize import PunktSentenceTokenizer
pst = PunktSentenceTokenizer()
pst.tokenize(mystr)

['I am a Data Scientist!', 'I work at Google']

In [ ]:
from nltk.tokenize import RegexpTokenizer
rgx = RegexpTokenizer('[\s*\W\s*]',1)
rgx.tokenize(mystr)

['I', 'am', 'a', 'Data', 'Scientist', 'I', 'work', 'at', 'Google']

In [ ]:
mystr_tokens = rgx.tokenize(mystr)
mystr_tokens
' '.join(mystr_tokens)

'I am a Data Scientist I work at Google'

STOPWORDS: high frequency words in a text/corpus with no new info, like pronoums

In [ ]:
import nltk
nltk.download('stopwords')
sw = stopwords.words("english")
sw

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [ ]:
[s for s in mystr_tokens if s.lower() not in sw]

['Data', 'Scientist', 'work', 'Google']

Stemming/Lemmatization : same meaning word  (study, studying, studied...)

In [ ]:
import nltk
nltk.download('rslp')

[nltk_data] Downloading package rslp to /root/nltk_data...
[nltk_data]   Unzipping stemmers/rslp.zip.

True

In [ ]:
tokens = ['estudo', 'estudei', 'estudarei','estudaria','estudarÃ­amos']
from nltk.stem import RSLPStemmer
stem = RSLPStemmer()
[stem.stem(w) for w in tokens]

['estud', 'estud', 'estud', 'estud', 'estud']

N-grams: Same word, different meanings

In [ ]:
from nltk import ngrams
list(ngrams(mystr.split(), 2))

[('I', 'am'),
 ('am', 'a'),
 ('a', 'Data'),
 ('Data', 'Scientist!'),
 ('Scientist!', 'I'),
 ('I', 'work'),
 ('work', 'at'),
 ('at', 'Google')]

Resume

In [ ]:
mystr
def preprocess_text(text):
  return ' '.join([unidecode(stem.stem(w.lower())) for w in rgx.tokenize(text) if w.lower() not in sw ])
  
preprocess_text(mystr)

Text --> Tables

In [ ]:
#COUNT_BINARY

import pandas as pd
corpus = pd.DataFrame ([['This is my first text'],
                        ['The second is also this'],
                        ['The third is also that']             
                                                ])
corpus

                         0
0    This is my first text
1  The second is also this
2   The third is also that

In [ ]:

from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer (binary= True,
                      lowercase= True,
                      tokenizer = rgx.tokenize,
                      stop_words = sw,
                      ngram_range = (1, 5))
cv.fit(corpus[0])

/usr/local/lib/python3.7/dist-packages/sklearn/feature_extraction/text.py:517: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  "The parameter 'token_pattern' will not be used"

CountVectorizer(binary=True, ngram_range=(1, 5),
                stop_words=['i', 'me', 'my', 'myself', 'we', 'our', 'ours',
                            'ourselves', 'you', "you're", "you've", "you'll",
                            "you'd", 'your', 'yours', 'yourself', 'yourselves',
                            'he', 'him', 'his', 'himself', 'she', "she's",
                            'her', 'hers', 'herself', 'it', "it's", 'its',
                            'itself', ...],
                tokenizer=<bound method RegexpTokenizer.tokenize of RegexpTokenizer(pattern='[\\s*\\W\\s*]', gaps=1, discard_empty=True, flags=<RegexFlag.UNICODE|DOTALL|MULTILINE: 56>)>)

In [ ]:
cv.transform(corpus[0])

<3x8 sparse matrix of type '<class 'numpy.int64'>'
	with 9 stored elements in Compressed Sparse Row format>

In [ ]:
cv.vocabulary_

{'also': 0,
 'first': 1,
 'first text': 2,
 'second': 3,
 'second also': 4,
 'text': 5,
 'third': 6,
 'third also': 7}

In [ ]:
pd.DataFrame(cv.transform(corpus[0]).todense(), columns = sorted(cv.vocabulary_))

   also  first  first text  second  second also  text  third  third also
0     0      1           1       0            0     1      0           0
1     1      0           0       1            1     0      0           0
2     1      0           0       0            0     0      1           1

In [ ]:
corpus

                         0
0    This is my first text
1  The second is also this
2   The third is also that